// Buttons
// TODO: Find a way to prevent transition on page load without JS (Chrome Bug!)

@mixin btn-mix($theme-color, $border-color, $color) {
  background: $theme-color;
  border: $btn-border-width solid $border-color;
  color: $color;
}

@mixin btn-focus($theme-color) {
  &:focus {
    box-shadow: 0 0 0 2px lighten($theme-color, 15%);
  }
}

@mixin btn-size($font-size, $padding-y, $padding-x) {
  font-size: $font-size;
  padding: $padding-y $padding-x;
}

.btn {
  @include border-radius($border-radius-sm);
  @include btn-size($btn-font-size-default, $btn-padding-y-default, $btn-padding-x-default);
  display: inline-block;
  font-weight: $btn-font-weight;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  transition: all .5s;
  user-select: none; // To prevent highlight the text inside the buttons
  vertical-align: middle;
  white-space: nowrap; // To prevent from wrapping or placing text on the new line

  &:hover {
    cursor: pointer;
  }

  @each $name, $value in $theme-colors {

    &-#{$name} {
      $color: if($name == 'inverse', $color-default, #fff);
      @include btn-mix($value, $value, $color);

      &:hover {
        background: lighten($value, 5%);
        border-color: lighten($value, 5%);
        color: $color;
        text-decoration: none;
      }

      &:active {
        background: darken($value, 5%);
        border-color: darken($value, 5%);
      }

      @include btn-focus($value);
    }

    &-#{$name}-outline {
      @include btn-mix(none, $value, $value);

      &:hover, &:focus {
        background: lighten($value, 5%);
        border-color: lighten($value, 5%);
        color: if($name == 'inverse', $color-default, #fff);
        text-decoration: none;
      }

      &:active {
        background: darken($value, 5%);
        border-color: darken($value, 5%);
      }

      @include btn-focus($value);
    }

    &-#{$name}-transparent {
      @include btn-mix(none, rgba($value, 0), $value);

      &:hover, &:focus {
        background: rgba($value, .3);
        color: $value;
        text-decoration: none;
      }

      &:active {
        background: rgba($value, .5);
      }

      @include btn-focus($value);
    }
  }

  &-sm {
    @include btn-size($font-size-sm, $btn-padding-y-sm, $btn-padding-x-sm);
  }

  &-lg {
    @include btn-size($font-size-lg, $btn-padding-y-lg, $btn-padding-x-lg);
  }

  &-pill {
    border-radius: $border-radius-pill;
  }
}