@import "variables";

@mixin btn($bgColor) {
  background-color: $bgColor;
  border: none;
  border-radius: 2px;
  color: if($bgColor == #fff, $text-color, #fff);
  display: inline-block;
  font: $font;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s;

  &:hover {
    background-color: lighten($bgColor, 5%);
    cursor: pointer;
  }
  &:active {
    background-color: darken($bgColor, 5%);
    transition: all .25s;
  }
}

.btn {
    @include btn($default);
}

.btn {
  @each $name, $value in $theme-colors {
    &-#{$name} {
      @include btn($value);
    }
    &-#{$name}-outline {
      @include btn($value);
      background-color: transparent;
      border: 1px solid $value;
      color: $value;
      &:hover {
        border: 1px solid lighten($value, 5%);
        color: if($value == #FFF, #000, #FFF);
      }
    }
    &-#{$name}-transparent {
      background: transparent;
      color: #fff;
      &:hover {
        background: rgba($value, .5);
      }
    }
  }
}

.btn .ripple {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}