// Balancer
//
// Further normalisation of HTML elements. Normalize.css will be forked manually soon
// to set everything here.


* {
  //outline: none; // TODO: fix outline stuff
}
body {
  background-color: $body-bg;
  font: $font;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: red;
  }
}

p {
  margin: 0;
  line-height: 1.5;
}



















.container {
  margin: 0 auto;
  width: 960px;
}
