@import "variables";

.notification {
  color: #fff;
  margin: 4px 0;
  padding: 12px 12px;
}

@each $name, $value in $theme-colors {
  .notification-#{$name} {
    @extend .notification;
    background-color: lighten($value, 10%);
    color: darken($value, 20%);
  }
}