@import "variables";

.pagination {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    a {
      background: $grey;
      color: $text-color-default;
      padding: 8px 16px;
      text-decoration: none;

      &:hover, &.selected {
        background-color: $primary;
        color: #fff;
      }
    }
  }
}