// Theme Colours
$default: #90A4AE;
$danger: #ef5350;
$info: #90CAF9;
$inverse: #fff;
$primary: #34495e;
$secondary: #F48FB1;
//$secondary: #4DD0E1;
$success: #9CCC65;
$warning: #FFB74D;

$theme-colors:
                (default, $default),
                (danger, $danger),
                (info, $info),
                (inverse, $inverse),
                (primary, $primary),
                (secondary, $secondary),
                (success, $success),
                (warning, $warning);

// Shades of Grey
$sasha-light: #f5f5f5;
$sasha-grey: #f1f1f1;
$sasha-dark: #c6c6c6;

// Body
$body-bg: #fff;

// Text Colour
$text-color: #545454;

// Link Colour
$link-color: #50abe0;

// Fonts
$font-family: 'Open Sans', sans-serif;
$font-family-alt: 'Roboto', sans-serif;

$font-size-sm: 12px;
$font-size: 16px;
$font-size-lg: 24px;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;


$font: $font-weight $font-size $font-family;

$font-weights:
                (thin, 100),
                (light, 300),
                (normal, 400),
                (medium, 500),
                (bold, 700),
                (black, 900);

// Border Radius
$border-radius-sm: 2px;
$border-radius: 6px;
$border-radius-lg: 15px;

$border-radius-pill: 500px;

// Margin
$margin-y-sm: 4px;
$margin-x-sm: 4px;
$margin-y: 15px;
$margin-x: 15px;
$margin-y-lg: 25px;
$margin-x-lg: 25px;

$margin-sm: $margin-y-sm $margin-x-sm;
$margin: $margin-y $margin-x;
$margin-lg: $margin-y-lg $margin-x-lg;

// Padding
$padding-y-sm: 4px;
$padding-x-sm: 4px;
$padding-y: 15px;
$padding-x: 15px;
$padding-y-lg: 25px;
$padding-x-lg: 25px;

$padding-sm: $padding-y-sm $padding-x-sm;
$padding: $padding-y $padding-x;
$padding-lg: $padding-y-lg $padding-x-lg;


// Alerts
$alert-margin-bottom: $margin-y;
$alert-padding: $padding;

// Badges
$badge-padding: 3px 6px 4px;
$badge-border-radius: $border-radius-sm;
$badge-font-size: .7em;





