$default: #c6c6c6;
$danger: #ef5350;
$info: #90CAF9;
$inverse: #fff;
$primary: #34495e;
$secondary: #F48FB1;
$success: #9CCC65;
$warning: #FFB74D;

$theme-colors:
                (default, $default),
                (danger, $danger),
                (info, $info),
                (inverse, $inverse),
                (primary, $primary),
                (secondary, $secondary),
                (success, $success),
                (warning, $warning);

$grey-light: #f5f5f5;
$grey: #f1f1f1;
$grey-dark: #c6c6c6;

$text-color-default: #404040;
$text-color-inverse: #fff;
$font-family: 'Open Sans';
$font-weight: 400;
$font-default: $font-weight 16px $font-family, sans-serif;

$font-weights:
                (thin, 100),
                (light, 300),
                (normal, 400),
                (medium, 500),
                (bold, 700),
                (black, 900);

