
// Theme colours
$default: #c6c6c6;
$danger: #ef5350;
$info: #90CAF9;
$inverse: #fff;
$primary: #34495e;
$secondary: #F48FB1;
$success: #9CCC65;
$warning: #FFB74D;

$theme-colors:
                (default, $default),
                (danger, $danger),
                (info, $info),
                (inverse, $inverse),
                (primary, $primary),
                (secondary, $secondary),
                (success, $success),
                (warning, $warning);

// Shades of grey
$grey-light: #f5f5f5;
$grey: #f1f1f1;
$grey-dark: #c6c6c6;

// Font stuff
$text-color-default: #545454;
$text-color-inverse: #fff;

$font-family-default: 'Open Sans';
$font-size-default: 16px;
$font-weight-default: 400;
$font-default: $font-weight-default $font-size-default $font-family-default, sans-serif;

$font-weights:
                (thin, 100),
                (light, 300),
                (normal, 400),
                (medium, 500),
                (bold, 700),
                (black, 900);

