// Arrow

.navicon-arrow.active {

  .navicon-rod {
    &::before {
      transform: translate3d($navicon-rod-width * -0.29, 4px, 0) rotate(-45deg) scale(0.5, 1);
    }

    &::after {
      transform: translate3d($navicon-rod-width * -0.29, -4px, 0) rotate(45deg) scale(0.5, 1);
    }
  }

}

.navicon-arrow-r.active {

  .navicon-rod {
    &::before {
      transform: translate3d($navicon-rod-width * 0.29, 4px, 0) rotate(45deg) scale(0.5, 1);
    }

    &::after {
      transform: translate3d($navicon-rod-width * 0.29, -4px, 0) rotate(-45deg) scale(0.5, 1);
    }
  }

}