// Elastic

@mixin elastic-active($a, $b) {
  &.active {
    .navicon-rod {
      $y-offset: $navicon-rod-spacing + $navicon-rod-height;

      transition-delay: 0.075s;
      transform: translate3d(0, $y-offset, 0) rotate(135deg);

      &::before {
        transition-delay: 0s;
        opacity: 0;
      }

      &::after {
        transform: translate3d(0, $y-offset * -2, 0) rotate(-270deg);
        transition-delay: 0.075s;
      }
    }
  }
}

%elastic {
  .navicon-rod {
    top: $navicon-rod-height / 2;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &::before {
      top: $navicon-rod-height + $navicon-rod-spacing;
      transition: opacity 0.125s 0.275s ease;
    }

    &::after {
      top: ($navicon-rod-height * 2) + ($navicon-rod-spacing * 2);
      transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}

.navicon-elastic {
  @extend %elastic;
  @include elastic-active(135deg, -270deg);
}

.navicon-elastic-r {
  @extend %elastic;
  @include elastic-active(-135deg, 270deg);
}
