// Flexbox Grid
// Create a grid based on flexbox technology (No support for dinosaurs).

[class*="row-flex"] {
  //background: $primary;
  //margin-left: -1 * $spacer-x-default; // Dirty trick to remove .container's padding
  //margin-right: -1 * $spacer-x-default; // Dirty trick to remove .container's padding
  // margin: -1 * $spacer-y-default;
}

.col {
  // IE11 messes it up when it's just "flex: 1;"
  // See: http://stackoverflow.com/questions/20122661/flexbox-columns-and-ie
  // flex: 1 0 auto;
  // The trick instead is use media query and set the display back to block;

  flex: 1;
}

// Phones (small)
@media only screen and (min-width: $sm) {
  .row-flex-sm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .row-flex-md {
    display: block;
  }

  .row-flex-lg {
    display: block;
  }
}

// Tablets (medium)
@media only screen and (min-width: $md) {

  .row-flex-md {
    display: flex;
  }

}

// Desktops (large)
@media only screen and (min-width: $lg) {
  .row-flex-lg {
    display: flex;
  }
}
