// Float Grid
// Create a grid based on the traditional float method

.row {
  //background: $secondary; // debug
  //border: 5px solid red; // debug
  @include clearfix;
}

// Phones (small)
@media only screen and (min-width: $sm) {
  .row {
    .col-sm {
      @for $i from 1 through $grid-col-max {
        &-#{$i} {
          width: $i / $grid-col-max * 100%;
          float: left;
        }
      }
    }
  }
}

// Tablets (medium)
@media only screen and (min-width: $md) {
  .row {
    .col-md {
      @for $i from 1 through $grid-col-max {
        &-#{$i} {
          width: $i / $grid-col-max * 100%;
          float: left;
        }
      }
    }
  }
}

// Desktops (large)
@media only screen and (min-width: $lg) {
  .row {
    .col-lg {
      @for $i from 1 through $grid-col-max {
        &-#{$i} {
          width: $i / $grid-col-max * 100%;
          float: left;
        }
      }
    }
  }
}
