// Grid Initialize
// Here is where we decide whether to use float, flexbox, or both grid system

@mixin media-breakpoint($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  @include media-breakpoint($sm) {
    padding-left: $spacer-y-default;
    padding-right: $spacer-y-default;
  }
}

.container-fluid {
  max-width: 100%;
}

.row {
  //background: $secondary;
  //border: 5px solid red;
  margin-left: -1 * $spacer-x-default; // Dirty trick to remove .container's padding
  margin-right: -1 * $spacer-x-default; // Dirty trick to remove .container's padding
}

@import "grids/grid-flexbox";
@import "grids/grid-float";

.col-demo {
  background: $sasha-grey;
  border-collapse: collapse;
  margin: 5px;
  padding: 10px;
}