// Flip

@mixin flip-active($value) {
  &.active,
  .nav-white &.active {
    .nav-icon-rod {
      background: transparent;
      transform: $value;

      &::before {
        transform: translate3d(0, $nav-icon-rod-height + $nav-icon-rod-spacing, 0) rotate(45deg);
      }

      &::after {
        transform: translate3d(0, ($nav-icon-rod-height + $nav-icon-rod-spacing) * -1, 0) rotate(-45deg);
      }
    }
  }
}

%flip {
  .nav-icon-box {
    perspective: $nav-icon-rod-width * 2;
  }

  .nav-icon-rod {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), // 0.15s
    background 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);

    &::before,
    &::after {
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); // 0s 0.1s
    }
  }
}

.nav-icon-flip-x {
  @extend %flip;
  @include flip-active(rotateY(180deg));
}

.nav-icon-flip-x-r {
  @extend %flip;
  @include flip-active(rotateY(-180deg));
}

.nav-icon-flip-y {
  @extend %flip;
  @include flip-active(rotateX(-180deg));
}

.nav-icon-flip-y-r {
  @extend %flip;
  @include flip-active(rotateX(180deg));
}
