// Plain

.nav-icon-plain {
  .nav-icon-rod {
    &,
    &::before,
    &::after {
      transition-property: none;
    }
  }

  &.active {
    .nav-icon-rod {
      transform: rotate(45deg);

      &::before {
        top: 0;
        opacity: 0;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
      }
    }
  }
}
