// Slide

@mixin slide-active($a, $b, $c) {
  &.active {
    .nav-icon-rod {
      $y-offset: $nav-icon-rod-spacing + $nav-icon-rod-height;

      transform: translate3d(0, $y-offset, 0) rotate($a);

      &::before {
        transform: rotate($b) translate3d($nav-icon-rod-width / -7, $nav-icon-rod-spacing * -1, 0);
        opacity: 0;
      }

      &::after {
        transform: translate3d(0, $y-offset * -2, 0) rotate($c);
      }
    }
  }
}

%slide {
  .nav-icon-rod {
    top: $nav-icon-rod-height / 2;

    &::before {
      top: $nav-icon-rod-height + $nav-icon-rod-spacing;
      transition-property: transform, opacity;
      transition-timing-function: ease;
      transition-duration: 0.15s;
    }

    &::after {
      top: ($nav-icon-rod-height * 2) + ($nav-icon-rod-spacing * 2);
    }
  }
}

.nav-icon-slide {
  @extend %slide;
  @include slide-active(45deg, -45deg, -90deg);
}

.nav-icon-slide-r {
  @extend %slide;
  @include slide-active(-45deg, 45deg, 90deg);
}
