@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
blockquote {
  border-left: 3px solid #f1f1f1;
  margin: 0;
  padding-left: 15px; }
  blockquote cite {
    color: #c6c6c6;
    display: block;
    margin-top: 8px; }

.btn {
  background-color: #90A4AE;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s; }
  .btn:hover {
    background-color: #9fb0b9;
    cursor: pointer; }
  .btn:active {
    background-color: #8198a3;
    transition: all .25s; }

.btn-default {
  background-color: #90A4AE;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s; }
  .btn-default:hover {
    background-color: #9fb0b9;
    cursor: pointer; }
  .btn-default:active {
    background-color: #8198a3;
    transition: all .25s; }

.btn-default-outline {
  background-color: #90A4AE;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s;
  background-color: transparent;
  border: 1px solid #90A4AE;
  color: #90A4AE; }
  .btn-default-outline:hover {
    background-color: #9fb0b9;
    cursor: pointer; }
  .btn-default-outline:active {
    background-color: #8198a3;
    transition: all .25s; }
  .btn-default-outline:hover {
    border: 1px solid #9fb0b9;
    color: #FFF; }

.btn-default-transparent {
  background: transparent;
  color: #fff; }
  .btn-default-transparent:hover {
    background: rgba(144, 164, 174, 0.5); }

.btn-danger {
  background-color: #ef5350;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s; }
  .btn-danger:hover {
    background-color: #f16a67;
    cursor: pointer; }
  .btn-danger:active {
    background-color: #ed3c39;
    transition: all .25s; }

.btn-danger-outline {
  background-color: #ef5350;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s;
  background-color: transparent;
  border: 1px solid #ef5350;
  color: #ef5350; }
  .btn-danger-outline:hover {
    background-color: #f16a67;
    cursor: pointer; }
  .btn-danger-outline:active {
    background-color: #ed3c39;
    transition: all .25s; }
  .btn-danger-outline:hover {
    border: 1px solid #f16a67;
    color: #FFF; }

.btn-danger-transparent {
  background: transparent;
  color: #fff; }
  .btn-danger-transparent:hover {
    background: rgba(239, 83, 80, 0.5); }

.btn-info {
  background-color: #90CAF9;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s; }
  .btn-info:hover {
    background-color: #a8d6fa;
    cursor: pointer; }
  .btn-info:active {
    background-color: #78bef8;
    transition: all .25s; }

.btn-info-outline {
  background-color: #90CAF9;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s;
  background-color: transparent;
  border: 1px solid #90CAF9;
  color: #90CAF9; }
  .btn-info-outline:hover {
    background-color: #a8d6fa;
    cursor: pointer; }
  .btn-info-outline:active {
    background-color: #78bef8;
    transition: all .25s; }
  .btn-info-outline:hover {
    border: 1px solid #a8d6fa;
    color: #FFF; }

.btn-info-transparent {
  background: transparent;
  color: #fff; }
  .btn-info-transparent:hover {
    background: rgba(144, 202, 249, 0.5); }

.btn-inverse {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  color: #545454;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s; }
  .btn-inverse:hover {
    background-color: white;
    cursor: pointer; }
  .btn-inverse:active {
    background-color: #f2f2f2;
    transition: all .25s; }

.btn-inverse-outline {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  color: #545454;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff; }
  .btn-inverse-outline:hover {
    background-color: white;
    cursor: pointer; }
  .btn-inverse-outline:active {
    background-color: #f2f2f2;
    transition: all .25s; }
  .btn-inverse-outline:hover {
    border: 1px solid white;
    color: #000; }

.btn-inverse-transparent {
  background: transparent;
  color: #fff; }
  .btn-inverse-transparent:hover {
    background: rgba(255, 255, 255, 0.5); }

.btn-primary {
  background-color: #34495e;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s; }
  .btn-primary:hover {
    background-color: #3d566e;
    cursor: pointer; }
  .btn-primary:active {
    background-color: #2b3c4e;
    transition: all .25s; }

.btn-primary-outline {
  background-color: #34495e;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s;
  background-color: transparent;
  border: 1px solid #34495e;
  color: #34495e; }
  .btn-primary-outline:hover {
    background-color: #3d566e;
    cursor: pointer; }
  .btn-primary-outline:active {
    background-color: #2b3c4e;
    transition: all .25s; }
  .btn-primary-outline:hover {
    border: 1px solid #3d566e;
    color: #FFF; }

.btn-primary-transparent {
  background: transparent;
  color: #fff; }
  .btn-primary-transparent:hover {
    background: rgba(52, 73, 94, 0.5); }

.btn-secondary {
  background-color: #F48FB1;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s; }
  .btn-secondary:hover {
    background-color: #f6a6c1;
    cursor: pointer; }
  .btn-secondary:active {
    background-color: #f278a1;
    transition: all .25s; }

.btn-secondary-outline {
  background-color: #F48FB1;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s;
  background-color: transparent;
  border: 1px solid #F48FB1;
  color: #F48FB1; }
  .btn-secondary-outline:hover {
    background-color: #f6a6c1;
    cursor: pointer; }
  .btn-secondary-outline:active {
    background-color: #f278a1;
    transition: all .25s; }
  .btn-secondary-outline:hover {
    border: 1px solid #f6a6c1;
    color: #FFF; }

.btn-secondary-transparent {
  background: transparent;
  color: #fff; }
  .btn-secondary-transparent:hover {
    background: rgba(244, 143, 177, 0.5); }

.btn-success {
  background-color: #9CCC65;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s; }
  .btn-success:hover {
    background-color: #a8d278;
    cursor: pointer; }
  .btn-success:active {
    background-color: #90c652;
    transition: all .25s; }

.btn-success-outline {
  background-color: #9CCC65;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s;
  background-color: transparent;
  border: 1px solid #9CCC65;
  color: #9CCC65; }
  .btn-success-outline:hover {
    background-color: #a8d278;
    cursor: pointer; }
  .btn-success-outline:active {
    background-color: #90c652;
    transition: all .25s; }
  .btn-success-outline:hover {
    border: 1px solid #a8d278;
    color: #FFF; }

.btn-success-transparent {
  background: transparent;
  color: #fff; }
  .btn-success-transparent:hover {
    background: rgba(156, 204, 101, 0.5); }

.btn-warning {
  background-color: #FFB74D;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s; }
  .btn-warning:hover {
    background-color: #ffc167;
    cursor: pointer; }
  .btn-warning:active {
    background-color: #ffad34;
    transition: all .25s; }

.btn-warning-outline {
  background-color: #FFB74D;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: 400 16px "Open Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s;
  background-color: transparent;
  border: 1px solid #FFB74D;
  color: #FFB74D; }
  .btn-warning-outline:hover {
    background-color: #ffc167;
    cursor: pointer; }
  .btn-warning-outline:active {
    background-color: #ffad34;
    transition: all .25s; }
  .btn-warning-outline:hover {
    border: 1px solid #ffc167;
    color: #FFF; }

.btn-warning-transparent {
  background: transparent;
  color: #fff; }
  .btn-warning-transparent:hover {
    background: rgba(255, 183, 77, 0.5); }

.btn .ripple {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear; }

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0; } }

.notification, .notification-default, .notification-danger, .notification-info, .notification-inverse, .notification-primary, .notification-secondary, .notification-success, .notification-warning {
  color: #fff;
  margin: 4px 0;
  padding: 12px 12px; }

.notification-default {
  background-color: #adbcc4;
  color: #5b727d; }

.notification-danger {
  background-color: #f3817f;
  color: #c71612; }

.notification-info {
  background-color: #c0e1fc;
  color: #2f9cf4; }

.notification-inverse {
  background-color: white;
  color: #545454; }

.notification-primary {
  background-color: #46637f;
  color: #fff; }

.notification-secondary {
  background-color: #f9bdd1;
  color: #eb3270; }

.notification-success {
  background-color: #b5d98b;
  color: #699833; }

.notification-warning {
  background-color: #ffcc80;
  color: #e68900; }

.pagination {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .pagination li {
    display: inline-block; }
    .pagination li a {
      background: #f1f1f1;
      color: #545454;
      padding: 8px 16px;
      text-decoration: none; }
      .pagination li a:hover, .pagination li a.selected {
        background-color: #34495e;
        color: #fff; }

.progress-container {
  background-color: #f5f5f5;
  height: 1.3em;
  margin: 4px 0;
  overflow: hidden; }
  .progress-container .progress, .progress-container .progress-default, .progress-container .progress-danger, .progress-container .progress-info, .progress-container .progress-inverse, .progress-container .progress-primary, .progress-container .progress-secondary, .progress-container .progress-success, .progress-container .progress-warning {
    color: #fff;
    font-size: 0.9em;
    height: 100%;
    line-height: 1.2em;
    padding: 0.1em 0;
    text-align: center; }
  .progress-container .progress-default {
    background-color: #adbcc4;
    color: #5b727d; }
  .progress-container .progress-danger {
    background-color: #f3817f;
    color: #c71612; }
  .progress-container .progress-info {
    background-color: #c0e1fc;
    color: #2f9cf4; }
  .progress-container .progress-inverse {
    background-color: white;
    color: #545454; }
  .progress-container .progress-primary {
    background-color: #46637f;
    color: #fff; }
  .progress-container .progress-secondary {
    background-color: #f9bdd1;
    color: #eb3270; }
  .progress-container .progress-success {
    background-color: #b5d98b;
    color: #699833; }
  .progress-container .progress-warning {
    background-color: #ffcc80;
    color: #e68900; }

table {
  background-color: #fff;
  border-collapse: collapse;
  width: 100%; }
  table tr .table-cell, table tr th, table tr td {
    padding: 6px 8px;
    text-align: left; }
  table tr th {
    border-bottom: 1px solid #f1f1f1; }

.table-sm tr th, .table-sm tr td {
  padding: 3px 8px; }

.table-lg tr th, .table-lg tr td {
  padding: 12px 8px; }

tbody.table-striped tr:nth-of-type(even) {
  background-color: #f5f5f5; }

.text-default {
  color: #90A4AE; }

.text-danger {
  color: #ef5350; }

.text-info {
  color: #90CAF9; }

.text-inverse {
  color: #fff; }

.text-primary {
  color: #34495e; }

.text-secondary {
  color: #F48FB1; }

.text-success {
  color: #9CCC65; }

.text-warning {
  color: #FFB74D; }

.text-thin {
  font-weight: 100; }

.text-light {
  font-weight: 300; }

.text-normal {
  font-weight: 400; }

.text-medium {
  font-weight: 500; }

.text-bold {
  font-weight: 700; }

.text-black {
  font-weight: 900; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

* {
  outline: none; }

body {
  font: 400 16px "Open Sans", sans-serif;
  color: #545454; }

a, a:visited {
  color: #50abe0;
  text-decoration: none; }
  a:hover, a:visited:hover {
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-bottom: 5px; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1rem; }

.container {
  margin: 0 auto;
  width: 1280px; }
