// Alerts
// IE10+

.alert {
  padding: $alert-padding;

  @each $key, $value in $theme-colors {
    &-#{$key} {
      background-color: lighten($value, 10%);
      color: contrast-color($value);

      .alert-link {
        color: contrast-color($value);
      }
    }
  }

  .close {
    position: relative;
    top: -$alert-padding;
    right: -$alert-padding;
    padding: $alert-padding;
  }

  &-link {
    font-weight: $alert-link-font-weight;
  }

  // Add margin each succeeding alert
  & + & {
    margin-top: $alert-margin-y;
  }

  // Only add a radius when inside .container
  .container & {
    @include border-radius($border-radius-sm);
  }
}
