// Alerts

@mixin alert-mix($theme) {
  background-color: lighten($theme, 10%);
  color: contrast-color($theme);

  .alert-link {
    font-weight: $alert-link-font-weight;
    color: contrast-color($theme);
  }
}

.alert {
  padding: $alert-padding;

  @each $name, $value in $theme-colors {
    &-#{$name} {
      @include alert-mix($value);
    }
  }

  // It doesn't make sense adding the default and inverse in alerts

  & + & {
    margin-top: $alert-margin-y;
  }
}
