// Alerts

@mixin alert($theme) {
  background-color: lighten($theme, 10%);
  color: contrast-color($theme);

  .alert-link {
    font-weight: $alert-link-font-weight;
    color: contrast-color($theme);
  }
}

.alert {
  padding: $alert-padding;

  @each $key, $value in $theme-colors {
    &-#{$key} {
      @include alert($value);
    }
  }

  // Add margin each succeeding alert
  & + & {
    margin-top: $alert-margin-y;
  }

  // Only add a radius when inside .container
  .container & {
    @include border-radius($border-radius-sm);
  }
}
