// Alerts
// IE10+

@mixin alert-mix($theme) {
  background: lighten($theme, 10%);
  color: contrast-color($theme);

  // Forcibly change the color of the links inside alert
  .alert-link {
    color: contrast-color($theme);
  }
}

.alert {
  padding: $alert-padding;

  @each $key, $value in $theme-colors {
    &-#{$key} {
      @include alert-mix($value);
    }
  }

  .close {
    position: relative;
    top: -$alert-padding;
    right: -$alert-padding;
    padding: $alert-padding;
  }

  &-link {
    font-weight: $alert-link-font-weight;
  }

  // Add margin each succeeding alert
  & + & {
    margin-top: $alert-margin-y;
  }

  // Only add a radius when inside .container
  .container & {
    @include border-radius($border-radius-sm);
  }
}
