// Badges

@mixin badge-mix($name, $theme) {
  background: $theme;
  color: if($name == 'default' or $name == 'inverse', $body-color, $sasha-white);

  &[href]:hover {
    background-color: darken($theme, 5%);
    color: if($name == 'default' or $name == 'inverse', $body-color, $sasha-white);
    text-decoration: none;
  }
}

.badge {
  @include border-radius($border-radius-sm);
  display: inline-block;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  margin-top: $badge-margin-top;
  padding: $badge-padding;
  vertical-align: middle;

  @each $name, $value in $theme-colors {
    &-#{$name} {
      @include badge-mix($name, $value);
    }
  }

  @each $name, $value in $theme-extra {
    &-#{$name} {
      @include badge-mix($name, $value);
    }
  }
}
