// Badges

@mixin badge-mix($bg, $color) {
  background: $bg;
  color: $color;

  &[href]:hover {
    background: darken($bg, 10%);
    text-decoration: none;
    color: $color; // Prevent the default link colors from affecting this
  }
}

.badge {
  @include border-radius($border-radius-sm);
  display: inline-block;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  margin-top: $badge-margin-top;
  padding: $badge-padding;
  vertical-align: middle;

  @each $key, $value in $theme-colors {
    &-#{$key} {
      $color: $sasha-white;
      @include badge-mix($value, $color);
    }
  }

  @each $key, $value in $theme-sasha-custom {
    @if ($enable-sasha-custom) {
      &-#{$key} {
        $color: if($key == sasha-white or $key == sasha-greyest, lighten($sasha-darkest, 25%), $sasha-white);
        @include badge-mix($value, $color);
      }
    }
  }

  &-pin {
    height: $badge-pin-size;
    padding: 0;
    width: $badge-pin-size;
    @include border-radius(50%);
  }
}
