// Badges

@mixin badge-mix($theme-color) {
  background-color: $theme-color;
  color: if($theme-color == #fff, $color-default, #fff);
  
  &[href]:hover {
    background-color: darken($theme-color, 10%);
    color: if($theme-color == #fff, $color-default, #fff);
    text-decoration: none;
  }
}

.badge {
  border-radius: $badge-border-radius;
  display: inline-block;
  font-size: $badge-font-size;
  font-weight: $font-weight-default;
  margin-top: -0.3em;
  padding: $badge-padding;
  //text-transform: uppercase;
  vertical-align: middle;

  @each $name, $value in $theme-colors {
    &-#{$name} {
      @include badge-mix($value);
    }
  }

  &-pill {
    @include border-radius($border-radius-pill);
  }
}
