// Banners
// Works as a huge page banner / jumbotron

.banner {

  // Mobile First
  // ====================================================================== //

  background: $banner-bg;
  margin-bottom: $banner-margin-bottom;
  padding: $banner-padding-y $banner-padding-x;
  @include border-radius($border-radius-lg);

  &-hr {
    border: 0;
    border-top: 1px solid darken($banner-bg, 10%);
    border-bottom: 1px solid $sasha-white;
  }

  &-fluid {
    padding: 0;
    @include border-radius(0);

    .container {
      padding: $banner-padding-y $banner-padding-x;
    }
  }

  // Large Screens Last
  // ====================================================================== //

  @include media-breakpoint($lg) {
    padding: ($banner-padding-y * 2) ($banner-padding-x * 2);

    &-fluid {
      padding: 0;

      .container {
        padding: ($banner-padding-y * 2) $banner-padding-x;
      }
    }
  }
}


