// Blockquotes

.blockquote {
  border-left: $blockquote-border-width solid $blockquote-border-color;
  font-size: $blockquote-font-size;
  margin: 0 0 $spacer-y-default;
  padding-left: 15px;

  &-footer {
    color: $blockquote-footer-color;
    display: block;
    margin-top: .8em;
    &::before {
      content: "\2014 \00A0"; // em dash, nbsp
    }
  }

  &-reverse {
    border-left: 0;
    border-right: $blockquote-border-width solid $blockquote-border-color;
    padding-left: 0;
    padding-right: 15px;
    text-align: right;
  }
}