// Borders

// How 'bout a
.no {

  &-border {
    border: none;

    &-top { border-top: none; }
    &-right { border-right: none; }
    &-bottom { border-bottom: none; }
    &-left { border-left: none; }

    &-radius { border-radius: 0; }
  }
}

.rounded {
  @include border-radius($border-radius-default);
}
.rounded-top {
  @include border-top-radius($border-radius-default);
}
.rounded-right {
  @include border-right-radius($border-radius-default);
}
.rounded-bottom {
  @include border-bottom-radius($border-radius-default);
}
.rounded-left {
  @include border-left-radius($border-radius-default);
}

.rounded-circle {
  border-radius: 50%;
}
