// Border
// They are set to !important to give them a super power.

.no {

  &-border {
    border: 0 !important;

    &-t { border-top: 0 !important; }
    &-r { border-right: 0 !important; }
    &-b { border-bottom: 0 !important; }
    &-l { border-left: 0 !important; }

    &-radius { border-radius: 0 !important; }
  }
}

.rounded {
  @include border-radius($border-radius);
}

.rounded-t {
  @include border-t-radius($border-radius);
}

.rounded-r {
  @include border-r-radius($border-radius);
}

.rounded-b {
  @include border-b-radius($border-radius);
}

.rounded-l {
  @include border-l-radius($border-radius);
}

.rounded-circle {
  border-radius: 50%;
}
