// Borders
// They are set to !important to give them super power.

// How 'bout a
.no {

  &-border {
    border: none !important;

    &-top { border-top: none !important; }
    &-right { border-right: none !important; }
    &-bottom { border-bottom: none !important; }
    &-left { border-left: none !important; }

    &-radius { border-radius: 0 !important; }
  }
}

.rounded {
  @include border-radius($border-radius-default);
}
.rounded-top {
  @include border-top-radius($border-radius-default);
}
.rounded-right {
  @include border-right-radius($border-radius-default);
}
.rounded-bottom {
  @include border-bottom-radius($border-radius-default);
}
.rounded-left {
  @include border-left-radius($border-radius-default);
}

.rounded-circle {
  border-radius: 50%;
}
