// Breadcrumbs

.breadcrumb {
  font-size: $breadcrumb-font-size;
  list-style: none;
  padding-left: 0; // Remove the indention in the ordered list

  @include clearfix;
}

.breadcrumb-item {
  float: left;

  // The separator between each breadcrumb item (by default, a forward-slash: "/")
  + .breadcrumb-item::before {
    color: $breadcrumb-color;
    display: inline-block;
    font-weight: $font-weight-default;
    padding-right: 5px;
    padding-left: 5px;
    content: "#{$breadcrumb-divider}";
  }

  // Either <a> is inside .breadcrumb-item or the .breadcrumb-item is an <a> itself with an href attribute
  a, &[href] {
    color: $breadcrumb-color;
  }

  &.active {
    color: $breadcrumb-color-active;
    font-weight: $breadcrumb-font-weight-active;
  }
}
