// Buttons
// bugfix - transition: background, border, box-shadow .25s linear;

// TODO: Add tintable grey buttons

@mixin btn-mix($background, $border-color, $color) {
  background: $background;
  border: $btn-border-width solid $border-color;
  color: $color;
}

@mixin btn-size($font-size, $padding-y, $padding-x) {
  font-size: $font-size;
  font-weight: $btn-font-weight;
  //line-height: $btn-line-height;
  padding: $padding-y $padding-x;
}

@mixin btn-hover($background, $border-color, $color) {
  &:not(.disabled):not([disabled]):hover {
    background: $background;
    border-color: $border-color;
    color: $color;
    text-decoration: none; // Inside hover to disable underline on <a> tags
  }
}

@mixin btn-active($background, $border-color) {
  &:not(.disabled):not([disabled]):active {
    background: $background;
    border-color: $border-color;
  }
}

@mixin btn-focus($outline) {
  &:not(.disabled):not([disabled]):focus {
    //box-shadow: 0 0 0 2px lighten($outline, 15%);
  }
}

.btn {
  // display: inline-block;
  cursor: pointer;
  font-weight: $btn-font-weight;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  transition: background .25s, border .25s, box-shadow .25s, color .25s;
  user-select: none; // To prevent highlighting the text inside the buttons
  vertical-align: middle;
  white-space: nowrap; // To prevent from wrapping or placing text on a new line

  @include border-radius($border-radius-sm);
  @include btn-size($btn-font-size-default, $btn-padding-y-default, $btn-padding-x-default);

  // theme-colors
  @each $key, $value in $theme-colors {

    $color: $sasha-white;

    &-#{$key} {
      @include btn-mix($value, $value, $color);
      @include btn-hover(lighten($value, 10%), lighten($value, 10%), $color);
      @include btn-active(darken($value, 10%), darken($value, 10%));
      @include btn-focus($value);
    }

    @if ($enable-btn-o) {
      &-#{$key}-o {
        @include btn-mix(none, $value, $value);
        @include btn-hover(lighten($value, 10%), lighten($value, 10%), $color);
        @include btn-active(darken($value, 10%), darken($value, 10%));
        @include btn-focus($value);
      }
    }

    @if ($enable-btn-t) {
      &-#{$key}-t {
        @include btn-mix(none, transparent, $value);
        @include btn-hover(lighten($value, 10%), transparent, $color);
        @include btn-active(darken($value, 10%), darken($value, 10%));
        @include btn-focus($value);
      }
    }
  }

  // theme-sasha-btn
  @each $key, $value in $theme-sasha-btn {

    $bg: if($key == sasha-darkest, lighten($value, 10%), darken($value, 5%));
    $color: if($key == sasha-darkest, $sasha-greyest, lighten($sasha-darkest, 25%));

    &-#{$key} {
      @include btn-mix($value, $value, $color);
      @include btn-hover($bg, $bg, $color);
      @include btn-active(darken($value, 10%), darken($value, 10%));
      @include btn-focus($value);
    }

    @if ($enable-btn-o) {
      &-#{$key}-o {
        @include btn-mix(none, $value, $value);
        @include btn-hover($bg, $bg, $color);
        @include btn-active(darken($value, 10%), darken($value, 10%));
        @include btn-focus($value);
      }
    }

    @if ($enable-btn-t) {
      &-#{$key}-t {
        @include btn-mix(none, rgba($value, 0), $color);
        @include btn-hover($bg, transparent, $color);
        @include btn-active(darken($value, 10%), transparent);
        @include btn-focus($value);
      }
    }
  }

  &-sm {
    @include btn-size($btn-font-size-sm, $btn-padding-y-sm, $btn-padding-x-sm);
  }

  &-lg {
    @include btn-size($btn-font-size-lg, $btn-padding-y-lg, $btn-padding-x-lg);
  }

  &-block {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  // To give space to multiple block buttons
  &-block + &-block {
    margin-top: $btn-block-margin-y;
  }

  &.disabled,
  &:disabled {
    cursor: default;
    opacity: .5;
  }
}

// Disable click event on <a> elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

// Ensure that block buttons will work
input[type='submit'],
input[type='reset'],
input[type='button'] {
  &.btn-block {
    width: 100%;
  }
}
