// Buttons
// TODO: Find a way to prevent transition on page load without JS (Chrome Bug!)
// ^ Bugfix: transition: background, border, box-shadow .25s linear;

@mixin btn-mix($background, $border-color, $color) {
  background: $background;
  border: $btn-border-width solid $border-color;
  color: $color;
}

@mixin btn-hover($background, $border-color, $color) {
  &:not(.disabled):not([disabled]):hover {
    background: $background;
    border-color: $border-color;
    color: $color;
    cursor: pointer;
    text-decoration: none;
  }
}

@mixin btn-active($background, $border-color) {
  &:not(.disabled):not([disabled]):active {
    background: $background;
    border-color: $border-color;
  }
}

@mixin btn-focus($theme) {
  &:not(.disabled):not([disabled]):focus {
    box-shadow: 0 0 0 2px lighten($theme, 15%);
  }
}

@mixin btn-size($font-size, $padding-y, $padding-x) {
  font-size: $font-size;
  font-weight: $btn-font-weight;
  //line-height: $btn-line-height;
  padding: $padding-y $padding-x;
}

.btn {
  @include border-radius($border-radius-sm);
  @include btn-size($btn-font-size-default, $btn-padding-y-default, $btn-padding-x-default);
  display: inline-block;
  font-weight: $btn-font-weight;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  transition: all .25s;
  // user-select: none; // To prevent highlighting the text inside the buttons
  vertical-align: middle;
  white-space: nowrap; // To prevent from wrapping or placing text on a new line


  // theme-colors
  @each $name, $value in $theme-colors {
    &-#{$name} {
      $color: #fff;
      @include btn-mix($value, $value, $color);
      @include btn-hover(lighten($value, 5%), lighten($value, 5%), $color);
      @include btn-active(darken($value, 5%), darken($value, 5%));
      @include btn-focus($value);
    }
    &-#{$name}-outline {
      $color: #fff;
      @include btn-mix(none, $value, $value);
      @include btn-hover(lighten($value, 5%), lighten($value, 5%), $color);
      @include btn-active(darken($value, 5%), darken($value, 5%));
      @include btn-focus($value);
    }
    &-#{$name}-transparent {
      @include btn-mix(none, rgba($value, 0), $value);
      @include btn-hover(rgba($value, .3), rgba($value, 0), $value);
      @include btn-active(rgba($value, .5), rgba($value, 0));
      @include btn-focus($value);
    }
  }

  // theme-extra
  // We're adding the default and inverse buttons cause it makes sense
  @each $name, $value in $theme-extra {
    &-#{$name} {
      @include btn-mix($value, $value, $color-default);
      @include btn-hover(lighten($value, 5%), lighten($value, 5%), $color-default);
      @include btn-active(darken($value, 5%), darken($value, 5%));
      @include btn-focus($value);
    }
    &-#{$name}-outline {
      @include btn-mix(none, $value, $value);
      @include btn-hover(lighten($value, 5%), lighten($value, 5%), $color-default);
      @include btn-active(darken($value, 5%), darken($value, 5%));
      @include btn-focus($value);
    }
    &-#{$name}-transparent {
      $color: if($name == 'default', $color-default, $value);
      @include btn-mix(none, rgba($value, 0), $color);
      @include btn-hover($value, rgba($value, 0), $color-default);
      @include btn-active(rgba($value, .5), rgba($value, 0));
      @include btn-focus($value);
    }
  }

  &-sm {
    @include btn-size($btn-font-size-sm, $btn-padding-y-sm, $btn-padding-x-sm);
  }

  &-lg {
    @include btn-size($btn-font-size-lg, $btn-padding-y-lg, $btn-padding-x-lg);
  }

  &-block {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  // To give space to multiple block buttons
  &-block + &-block {
    margin-top: $btn-block-margin-y;
  }

  &.disabled, &:disabled {
    cursor: default;
    opacity: .5;
  }
}

// Disable click event on <a> elements
a.btn.disabled, fieldset[disabled] a.btn {
  pointer-events: none;
}

// Ensure that block buttons will work
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
