// Close button

.close {
  float: right;
  font-size: $close-font-size;
  font-weight: $close-font-weight;
  line-height: $close-line-height;
  color: $close-color;
  opacity: $close-opacity;

  &:hover,
  &:focus {
    opacity: $close-opacity-hover;
    cursor: pointer;
  }
}

button.close {
  padding: 0;
  background: none;
  border: 0;
  //-webkit-appearance: none;
}
