// Close button

.close {
  float: right;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  line-height: .85;
  color: #000;
  opacity: .3;

  &:hover {
    opacity: .5;
    cursor: pointer;
  }
}

button.close {
  padding: 0;
  background: transparent;
  border: 0;
  //-webkit-appearance: none;
}
