// Colors (American English)

// theme-colors - core of the theme
// theme-sasha  - shades of grey

// theme-colors
$danger: #ea4858 !default; // ef5350 EA4858
$info: #90caf9 !default; // 90caf9
$primary: #305782 !default; // 34495e 305782
$secondary: #699 !default; // 4DD0E1 F48FB1 4DB6AC 2BBBAD 669999
$success: #81c784 !default; // 9CCC65 02B875 4BC883 81C784
$warning: #ffb74d !default;

$theme-colors: (
  danger: $danger,
  info: $info,
  primary: $primary,
  secondary: $secondary,
  success: $success,
  warning: $warning
) !default;

// theme-sasha
$sasha-white: #fff !default;
$sasha-grey: #f7f9fa !default;
$sasha-greyer: #f1f3f4 !default; // eceeef
$sasha-greyest: #ebedee !default; // f3f5f6
$sasha-dark: #bbbbbe !default; // bbb
$sasha-darker: #757578 !default; // 757575
$sasha-darkest: #21252a !default;
$sasha-black: #000 !default;

$theme-sasha: (
  sasha-white: $sasha-white,
  sasha-grey: $sasha-grey,
  sasha-greyer: $sasha-greyer,
  sasha-greyest: $sasha-greyest,
  sasha-dark: $sasha-dark,
  sasha-darker: $sasha-darker,
  sasha-darkest: $sasha-darkest,
  sasha-black: $sasha-black
) !default;

$theme-sasha-custom: (
  sasha-white: $sasha-white,
  sasha-greyest: $sasha-greyest,
  sasha-darkest: $sasha-darkest,
) !default;
