// Colors

// theme-colors - core of the theme
// theme-extra  - additional colors added when necessary
// theme-sasha  - typically used for text colors and accents

// theme-colors
$danger: #EA4858 !default; // ef5350 EA4858
$info: #90CAF9 !default;
$primary: #34495e !default;
$secondary: #669999 !default; // 4DD0E1 F48FB1 4DB6AC 2BBBAD 669999
$success: #81C784 !default; // 9CCC65 02B875 4BC883 81C784
$warning: #FFB74D !default;

$theme-colors:
                (danger, $danger),
                (info, $info),
                (primary, $primary),
                (secondary, $secondary),
                (success, $success),
                (warning, $warning);

// theme-extra
$default: #E0E0E0 !default; // 90A4AE
$inverse: #fff !default;

$theme-extra:
                (default, $default),
                (inverse, $inverse);

// theme-sasha
// Shades of Grey
$sasha-white: #fff !default;
$sasha-light: #f7f9fa !default; // fafafa
$sasha-grey: #ECEEEF !default; // ECEEEF f1f1f1
$sasha-dark: #bbbbbb !default;
$sasha-darker: #757575 !default;
$sasha-darkest: #2a2a2a !default;
$sasha-black: #000 !default;

$theme-sasha:
                (sasha-white, $sasha-white),
                (sasha-light, $sasha-light),
                (sasha-grey, $sasha-grey),
                (sasha-dark, $sasha-dark),
                (sasha-darker, $sasha-darker),
                (sasha-darkest, $sasha-darkest),
                (sasha-black, $sasha-black);
