// Global
//
// Further normalisation of HTML elements. Normalize.css will be forked manually soon
// to merge everything here.

* {
  //outline: none; // TODO: fix outline stuff
}
body {
  background-color: $body-bg;
  font: $font-default;
  color: $color-default;
}

a {
  color: $link-color-default;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: red;
  }
}

p {
  margin: 0;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  width: 960px;
}
