// Global
//
// Further normalization of HTML elements. Normalize.css will be forked manually soon
// to customise and merge everything here.

* {

}
body {
  background-color: $body-bg;
  font: $font-default;
  color: $color-default;
}

a {
  color: $link-color-default;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: red; // Temporary
  }
}

p {
  margin: 0;
  line-height: 1.5;
}

ul, ol, dl {
  margin-top: 0;
}

// Temporary
.container {
  margin: 0 auto;
  width: 960px;
}
