// Grid
// Here is where we decide whether to use float, flexbox, or both of the grid system
// TODO: Move this up one folder

@mixin media-breakpoint($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: $spacer-default;

  // Dirty trick to remove .container's padding when using col-
  // Only remove them if inside .container
  .row, [class="row-flex"] {
    margin-left: -1 * $spacer-default;
    margin-right: -1 * $spacer-default;
  }
}

.container-fluid {
  max-width: 100%;
}

// LOL! I tried to only use 'col' and it affected other elements
// This selector is risky
[class*='col-'] {
  padding-left: $spacer-default;
  padding-right: $spacer-default;
}

.col-demo, .col-flex-demo {
  background: $sasha-grey;
  border: 1px solid #fff;
  padding: $spacer-default;
}

@import "grids/grid-flexbox";
@import "grids/grid-float";