// Headings

h1, h2, h3, h4, h5, h6{
  font-weight: $font-weight-default;
  margin-bottom: $spacer-y-default;
}

h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}

// Larger sizes for headings
.font-size-lg-1 {
  font-size: $font-size-lg-1;
  font-weight: $font-weight-light;
}
.font-size-lg-2 {
  font-size: $font-size-lg-2;
  font-weight: $font-weight-light;
}
.font-size-lg-3 {
  font-size: $font-size-lg-3;
  font-weight: $font-weight-light;
}
.font-size-lg-4 {
  font-size: $font-size-lg-4;
  font-weight: $font-weight-light;
}

// Weights
.font-weight {
  @each $name, $value in $font-weights {
    &-#{$name} {
      font-weight: $value;
    }
  }
}