// Hero

.hero {

  // Mobile First
  // ====================================================================== //

  background: $hero-bg;
  margin-bottom: $hero-margin-b;
  padding: $hero-padding-y $hero-padding-x;
  @include border-radius($border-radius-lg);

  &-hr {
    border: 0;
    border-top: 1px solid darken($hero-bg, 10%);
    border-bottom: 1px solid $sasha-white;
  }

  &-fluid {
    padding: 0;
    @include border-radius(0);

    .container {
      padding: $hero-padding-y $hero-padding-x;
    }
  }

  // Large Screens Last
  // ====================================================================== //

  @include media-breakpoint($lg) {
    padding: ($hero-padding-y * 2) ($hero-padding-x * 2);

    &-fluid {
      padding: 0;

      .container {
        padding: ($hero-padding-y * 2) $hero-padding-x;
      }
    }
  }
}


