// Images

// Stop scaling beyond the width of their parent element
@mixin img-fluid {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.img-fluid {
  @include img-fluid;
}

// Figures
.figure {
  display: inline-block; // Align the caption with the image
}

.figure-img {
  margin-bottom: $figure-img-border-b;
}

// The default alignment for the caption is center (opinionated)
.figure-caption {
  color: $figure-caption-color;
  font-size: $figure-caption-font-size;
  text-align: center;
}
