// Navicons
// Animating hamburger icons

.nav-icon {
  cursor: pointer;
  border-radius: $border-radius-sm;
  display: inline-block; //inline-block
  opacity: $nav-icon-opacity;
  padding: $nav-icon-padding-x $nav-icon-padding-y;

  transition-property: opacity, filter;
  transition-duration: $nav-icon-hover-transition-duration;
  transition-timing-function: $nav-icon-hover-transition-timing-function;

  vertical-align: middle; // wtf! this is the solution for the nav problem!

  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover {
    @if $nav-icon-hover-use-filter {
      filter: $nav-icon-hover-filter;
    }
    @else {
      opacity: $nav-icon-opacity-hover;
    }
  }

  &-box {
    display: block; // inline-block is always the culprit for the spacing underneath
    height: $nav-icon-rod-height * 3 + $nav-icon-rod-spacing * 2;
    width: $nav-icon-rod-width;
    position: relative;
  }

  &-rod {
    display: block;
    margin-top: $nav-icon-rod-height / -2;
    top: 50%;

    &,
    &::before,
    &::after {
      background: $nav-icon-rod-color;
      border-radius: $nav-icon-rod-border-radius;
      height: $nav-icon-rod-height;
      width: $nav-icon-rod-width;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }

    &::before,
    &::after {
      content: '';
      display: block;
    }

    &::before {
      top: ($nav-icon-rod-spacing + $nav-icon-rod-height) * -1;
    }

    &::after {
      bottom: ($nav-icon-rod-spacing + $nav-icon-rod-height) * -1;
    }
  }
}

// Here is where we decide whether we include an animation or not (to save KB)
@import 'nav-icons/arrow';
@import 'nav-icons/elastic';
@import 'nav-icons/flip';
@import 'nav-icons/plain';
@import 'nav-icons/slide';
@import 'nav-icons/spin';
