// Navigation
// A responsive navigation bar


.nav {
  background: $nav-bg;
  line-height: $nav-line-height;

  a.nav-brand {
    background: orange; // debug
    color: $nav-logo-color;
    //display: block;
    margin: 0;
    font-size: 1.3rem;
    font-weight: $font-weight-bold;
    padding-left: $spacer-default;
    padding-right: $spacer-default;
    text-decoration: none;
  }

  .nav-brand img {
    height: 35px;
    margin-top: -2px;
  }

  .nav-toggler {
    background: lightblue; //debug
    font-weight: $font-weight-bold;
    float: right;
    padding-left: $spacer-default;
    padding-right: $spacer-default;
    //position: relative;
    //top: -55px;
    //right: 0;
    //vertical-align: middle;

    &:hover {
      cursor: pointer;
    }

    //& .nav-icon {
    //  margin: 8px auto 7px;
    //}
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style: none;
  }

  ul li a {
    background: pink; //debug
    color: $nav-color;
    padding: 0 $spacer-default;
    text-decoration: none;
    display: block;

    &:hover, &.active {
      background: $nav-bg-hover;
    }
  }

  @include media-breakpoint($lg) {

    a.nav-brand {
      float: left;
    }

    .nav-toggler {
      display: none;
    }

    li {
      float: left;
    }
    li a {
      display: block;
    }
  }

  .container & {
    margin-bottom: $spacer-default;
  }

  @include clearfix();
}
