// Navigation
// A responsive navigation bar




// Toggle Icons
.nav-icon {
  height: 70px;
  width: 88px;
  position: relative;

  .span {
    height: 6px;
    width: 55px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #000;
    transition: all .3s;

    &::before, &::after {
      height: 6px;
      width: 100%;
      background: #000;
      position: absolute;
      content: "";
      transition: all .3s;
    }
    &::after {
      top: 20px;
    }
    &::before {
      top: -20px;
    }
  }

  &.active .span::after {
    top: 0;
    transform: rotate(45deg);
  }

  &.active .span::before {
    top: 0;
    transform: rotate(-45deg);
  }

  &.active .span {
    background: none;
  }
}