// Navigation
// A responsive navigation bar

.hidden {
  display: none;
}

.shown {
  display: block;
}

.navbar {

  @include media-breakpoint($lg) {
    font-size: $navbar-font-size;
    font-weight: $navbar-font-weight;
    line-height: 60px;
    margin-bottom: $spacer-default;
    width: 100%;
    background: $navbar-bg;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1); // sass-lint:disable-line no-color-literals

    .navbar-toggler {
      display: none;
      float: left;
      margin-left: $spacer-default;

      .navicon {
        line-height: 0;
        margin-bottom: 5px;
      }
    }

    .navbar-logo {
      color: $navbar-color;
      float: left;
      font-size: 1.3rem;
      //margin-left: $spacer-default;
      //margin-right: $spacer-default;
      text-decoration: none;

      img {
        height: 30px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .navbar-menu {
      float: right;
    }

    .navbar-menu > li {
      float: left;
      position: relative;
    }

    .navbar-menu > li > a {
      color: $navbar-color;
      display: block;
      padding: 0 15px;
      text-decoration: none;
      transition: box-shadow .25s, color .15s;

      &:hover {
        background: $navbar-bg-hover;
        //box-shadow: inset 0 -4px 0 $navbar-color-hover;
        //color: $navbar-color-hover;
      }
    }

    .has-children.active ul {
      display: unset;
    }

    .has-children ul {
      background: $navbar-bg;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15); // sass-lint:disable-line no-color-literals
      position: absolute;
      top: $navbar-line-height;
      display: none;
      z-index: 1;
    }

    .has-children ul li a {
      color: $body-color;
      display: block;
      font-weight: $font-weight-default;
      line-height: 40px;
      padding: 0 15px;
      text-decoration: none;
      width: 200px;

      &:hover {
        background: $navbar-bg-hover;
        //box-shadow: inset 0 -4px 0 $navbar-color-hover;
        //transition: box-shadow .25s, color .15s;
      }
    }

  }

  & .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  @include clearfix;
}

.navbar-fixed {
  position: fixed;
  z-index: 2;
}

#wrapper {
  padding-top: 75px;
}
