// Navigation
// The entire navigation works in IE10+
// The value 'unset' on any property does not work in IE11-

.nav {

  // Mobile First
  // ====================================================================== //

  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15); // sass-lint:disable-line no-color-literals
  font-size: $nav-font-size;
  font-weight: $nav-font-weight;
  line-height: $nav-line-height;
  margin-bottom: $spacer-default;
  width: 100%;

  .nav-hr {
    margin: 5px 0;
  }

  .nav-toggler {
    cursor: pointer;

    .nav-icon {
      margin-top: -4px;
    }

    &-word {
      text-decoration: none;
    }

    &:hover a,
    &:hover .nav-icon {
      opacity: 1; // The nav-icon highlights as long as the nav-toggler is hovered over
    }

    &-l {
      float: left;
      margin-left: $spacer-default;
    }

    &-r {
      float: right;
      margin-right: $spacer-default;
    }
  }

  .nav-logo {
    float: left;
    font-size: $nav-logo-font-size;
    font-weight: $nav-logo-font-weight;
    line-height: $nav-logo-line-height;
    margin-left: $spacer-default;
    margin-right: $spacer-default;
    text-decoration: none;

    img {
      height: $nav-img-height;
      margin-right: $spacer-default / 2;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-menu {
    display: none;
    max-height: $nav-menu-max-height;
    overflow-y: auto;
    clear: both;

    &.active {
      display: block;
    }

    & > ul > li > a {
      display: block;
      padding: 0 $spacer-default;
      text-decoration: none;
    }
  }

  .badge {
    line-height: 1.3rem;
  }

  .container {
    padding: 0;
  }

  // Large Screens Last
  // ====================================================================== //

  @include media-breakpoint($lg) {

    .nav-toggler {
      display: none;
    }

    .nav-menu {
      clear: none; // Reset
      display: block;
      padding-right: $spacer-default;
      max-height: none; // Reset
      overflow: visible; // Reset

      &-l {
        float: left;
      }

      &-r {
        float: right;
      }
    }

    .nav-menu > ul > li {
      float: left;
      position: relative; // So the absolute nav-dropdown will work fine
    }

    .nav-menu > ul > li > a {
      &:hover:not(.active) {
        background: none;
      }
    }
  }

  @include clearfix;
}

.nav-fixed {
  position: fixed;
  top: 0;
  z-index: $nav-fixed-z-index;
}

.container .nav {
  @include border-radius($border-radius-sm);
}

@import 'navs/sasha-darkest';
@import 'navs/sasha-white';
