// Pagination

@mixin pagination-size($padding-y, $padding-x, $font-size) {
  .page-link {
    padding: $padding-y $padding-x;
    font-size: $font-size;
  }
}

.pagination {

  list-style-type: none;
  padding-left: 0; // Remove the padding of the ul
  @include pagination-size($pagination-padding-y, $pagination-padding-x, $pagination-font-size);

  .page-item {

    float: left;

    .page-link {
      background: $pagination-bg;
      color: $pagination-color;
      display: block;
      position: relative;
    }

    .page-link:hover {
      color: $pagination-color-hover;
      text-decoration: none;
      background: $pagination-bg-hover;
    }

    &:first-child .page-link {
      @include border-l-radius($border-radius-sm);
    }

    &:last-child .page-link {
      @include border-r-radius($border-radius-sm);
    }

    &.active .page-link {
      background: $pagination-bg-active;
      color: $pagination-color-active;
      z-index: $pagination-z-index;
    }

    &.disabled .page-link {
      background: $pagination-bg-disabled;
      color: $pagination-color-disabled;
      pointer-events: none;
    }
  }

  @include clearfix;

  &-sm {
    @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $pagination-font-size-sm);
  }
}
