// Pagination

@mixin pagination-size($padding-y, $padding-x, $font-size, $border-radius) {
  .page-link {
    padding: $padding-y $padding-x;
    font-size: $font-size;
  }

  .page-item {
    &:first-child {
      .page-link {
        @include border-l-radius($border-radius);
      }
    }

    &:last-child {
      .page-link {
        @include border-r-radius($border-radius);
      }
    }
  }
}

.pagination {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  //@include border-radius(0);
  @include pagination-size($pagination-padding-y, $pagination-padding-x, $pagination-font-size, $border-radius-sm);

  .page-item {

    &.active .page-link {
      background: $pagination-bg-active;
      border-color: $pagination-border-active;
      color: $pagination-color-active;
      z-index: $pagination-z-index;
    }

    &.disabled .page-link {
      background: $pagination-bg-disabled;
      border-color: $pagination-border-disabled;
      color: $pagination-color-disabled;
      pointer-events: none;
    }

    .page-link {
      //font-size: $pagination-font-size;
      //padding: $pagination-padding-y $pagination-padding-x;
      //margin-left: -1px;
      //line-height: $pagination-line-height;

      background: $pagination-bg;
      border: $pagination-border-width solid $pagination-border-color;
      color: $pagination-color;
      display: block;
      position: relative;

      &:hover {
        color: $pagination-color-hover;
        text-decoration: none;
        background: $pagination-bg-hover;
        border: $pagination-border-hover;
      }
    }
  }

  &-sm {
    @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $pagination-font-size-sm, $border-radius-sm);
  }
}
