@import "variables";

.pagination {
   display: inline-flex;
   list-style-type: none;
   margin: 0;
   padding: 0;

   li {
     display: inline-block;

     a {
       background: $sasha-grey;
       color: $color-default;
       padding: 6px 14px;
       text-decoration: none;

       &:hover, &.selected {
         background-color: $primary;
         color: #fff;
       }
     }
   }
 }
