// Progress

.progress-container {
  background: $progress-container-bg;
  display: flex;
  font-size: $progress-font-size;
  line-height: $progress-height;
  overflow: hidden;
  text-align: center;

  @include border-radius($border-radius);

  .progress-bar {

    @each $key, $value in $theme-colors {
      &-#{$key} {
        background: lighten($value, 5%);
        color: contrast-color($value);
      }
    }

    height: $progress-height;
    line-height: $progress-height;
  }

  & + & {
    margin-top: $progress-margin-y;
  }
}
