@import "variables";

.progress-container {
  background: $progress-container-bg;
  @include border-radius($border-radius-sm);
  display: flex;
  font-size: $progress-font-size;
  line-height: $progress-height;
  overflow: hidden;
  text-align: center;

  .progress-bar {

    @each $name, $value in $theme-colors {
      &-#{$name} {
        background: lighten($value, 5%);
        color: contrast-color($value);
      }
    }

    // It doesn't make sense adding the default and inverse in progress

    height: $progress-height;
    line-height: $progress-height;
  }

  & + & {
    margin-top: $progress-margin-y;
  }
}
