@import "variables";

.progress-container {
  background-color: $sasha-dark;
  height: 1.3em;
  margin: 4px 0;
  overflow: hidden;

  .progress {
    color: #fff;
    font-size: 0.9em;
    height: 100%;
    line-height: 1.2em;
    padding: 0.1em 0;
    text-align: center;
  }
  
  @each $name, $value in $theme-colors {
    .progress-#{$name} {
      @extend .progress;
      background-color: lighten($value, 10%);
      color: if($name == primary, #fff, if($name == inverse, $color-default, darken($value, 20%)));
    }
  }
}
