@import "variables";

.progress-container {
  background: $progress-bg;
  @include border-radius($border-radius-sm);
  display: flex;
  font-size: $progress-font-size;
  line-height: $progress-height;
  overflow: hidden;
  text-align: center;

  .progress-bar {
    @each $name, $value in $theme-colors {
      &-#{$name} {
        background: lighten($value, 5%);
        color: set-color($value);
      }
    }
    height: $progress-height;
    line-height: $progress-height;
  }

  &-pill {
    @include border-radius($border-radius-pill);
  }

  & + & {
    margin-top: 15px;
  }
}
