// Spacing
// Includes Margin, Padding, and etc.

// How 'bout a
.no {

  &-margin {
    margin: 0;

    &-top { margin-top: 0; }
    &-right { margin-right: 0; }
    &-bottom { margin-bottom: 0; }
    &-left { margin-left: 0; }
  }

  &-padding {
    padding: 0;

    &-top { padding-top: 0; }
    &-right { padding-right: 0; }
    &-bottom { padding-bottom: 0; }
    &-left { padding-left: 0; }
  }
}