// Spacing
// Includes Margin, Padding, and etc.
// They are set to !important to give them super power.
// TODO: Refactor. Ex: .no-margin-top -> .no-margin-t

// How 'bout a
.no {

  &-margin {
    margin: 0 !important;

    &-t { margin-top: 0 !important; }
    &-r { margin-right: 0 !important; }
    &-b { margin-bottom: 0 !important; }
    &-l { margin-left: 0 !important; }
  }

  &-padding {
    padding: 0 !important;

    &-t { padding-top: 0 !important; }
    &-r { padding-right: 0 !important; }
    &-b { padding-bottom: 0 !important; }
    &-l { padding-left: 0 !important; }
  }
}

.margin-spacer {
  margin: $spacer-default !important;
  &-t { margin-top: $spacer-default !important; }
  &-r { margin-right: $spacer-default !important; }
  &-b { margin-bottom: $spacer-default !important; }
  &-l {  margin-left: $spacer-default !important; }
}

.padding-spacer {
  padding: $spacer-default !important;
  &-t { padding-top: $spacer-default !important; }
  &-r { padding-right: $spacer-default !important; }
  &-b { padding-bottom: $spacer-default !important; }
  &-l { padding-left: $spacer-default !important; }
}
