// Tables

.table {
  background: $table-bg;
  border-collapse: collapse;
  border: 0;
  max-width: 100%;
  width: 100%;

  thead {
    //background: $table-border-color;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  // Explicitly say only th within thead
  thead th {
    vertical-align: bottom;
  }

  th,
  td {
    // border-top: $table-border-width solid $table-border-color; // Borders in each column are ugly (opinionated)
    padding: $table-cell-padding;
    vertical-align: top; // When each row contains only single line, this makes it ugly (opinionated)
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

  .table {
    background: $body-bg; // TODO: Figure out if this is really a must
  }

  // Condensed Table
  &-sm {
    th,
    td {
      padding: $table-cell-padding-sm;
    }
  }

  // Bordered Table
  &-bordered {
    border: $table-border-width solid $table-border-color;

    th,
    td {
      border: $table-border-width solid $table-border-color;
    }

    thead {
      th,
      td {
        border-bottom-width: (2 * $table-border-width);
      }
    }
  }

  // Striped Tables
  &-striped {
    tbody tr:nth-of-type(odd) {
      background: $table-stripe-bg;
    }
  }

  &-hover {
    tbody tr:hover {
      background: $table-hover-bg;
    }
  }
}
