// Texts

// Text Colors
.color {
  @each $name, $value in $theme-colors {
    &-#{$name} {
      color: $value;
    }
  }
  @each $name, $value in $theme-sasha {
    &-#{$name} {
      color: $value;
    }
  }
}

// Text Alignment
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

// Remove the margin-bottom for <p> elements by calling this class
.below-zero {
  margin-bottom: 0;
}

// Enlarge the text in <p> elements by calling this class
.lead {
  font-size: 1.25em;
  font-weight: $font-weight-light;
}

mark, .mark {
  background: $mark-bg;
  padding: $mark-padding;
}