// Text

.txt {

  @each $name, $value in $theme-colors {
    &-#{$name} {
      color: $value;
    }
  }

  @each $name, $value in $theme-sasha {
    &-#{$name} {
      color: $value;
    }
  }

  // Text Alignment
  &-left { text-align: left; }
  &-center { text-align: center; }
  &-right { text-align: right; }
}

.lead {
  font-size: $lead-font-size;
}

mark,
.mark {
  background: $mark-bg;
  padding: $mark-padding;
}

small {
  font-size: $small-font-size;
}
