// Text
// Use .txt-*

.txt {

  // Change color based on $theme-colors
  @each $key, $value in $theme-colors {
    &-color-#{$key} {
      color: $value;
    }
  }

  // Change color based on $theme-sasha
  @each $key, $value in $theme-sasha {
    &-color-#{$key} {
      color: $value;
    }
  }

  // Change color to a faded one
  &-color-muted {
    color: $txt-color-muted;
  }

  // Change font-weight based on $font-weights
  @each $key, $value in $font-weights {
    &-weight-#{$key} {
      font-weight: $value;
    }
  }

  // Change text alignment
  &-align-l { text-align: left; }
  &-align-c { text-align: center; }
  &-align-r { text-align: right; }

  // Change font-size based on $txt-size-lg-font-sizes
  @each $key, $value in $txt-size-lg-font-sizes {
    &-size-#{$key} {
      font-size: $value / 1.5;
    }
  }

  // Change font-size to a slightly larger one
  &-size-lead {
    font-size: $txt-lead-font-size;
  }

}

mark,
.mark {
  background: $mark-bg;
  padding: $mark-padding;
}

small {
  font-size: $small-font-size;
}

@include media-breakpoint($lg) {
  @each $key, $value in $txt-size-lg-font-sizes {
    .txt-size-#{$key} {
      font-size: $value;
    }
  }
}
