// Variables

@import "colors";

// Options
$enable-rounded: true !default;

// Body
$body-bg: #fff !default;
$color-default: #545454 !default;

// Link Colour
$link-color-default: #50abe0 !default;

// Fonts
$font-family-default: 'Open Sans', sans-serif !default;
$font-family-alt: 'Roboto', sans-serif !default;

$font-size-sm: 12px !default;
$font-size-default: 16px !default;
$font-size-lg: 24px !default;

$font-weight-thin: 100 !default;
$font-weight-light: 300 !default;
$font-weight-default: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-black: 900 !default;

$font-default: $font-weight-default $font-size-default $font-family-default !default;

// Border Radius
$border-radius-sm: 2px !default;
$border-radius-default: 6px !default;
$border-radius-lg: 15px !default;

$border-radius-pill: 500px !default;

// Margin
$margin-y-sm: 4px !default;
$margin-x-sm: 4px !default;
$margin-y-default: 15px !default;
$margin-x-default: 15px !default;
$margin-y-lg: 25px !default;
$margin-x-lg: 25px !default;

$margin-sm: $margin-y-sm $margin-x-sm !default;
$margin-default: $margin-y-default $margin-x-default !default;
$margin-lg: $margin-y-lg $margin-x-lg !default;

// Padding
$padding-y-sm: 4px !default;
$padding-x-sm: 4px !default;
$padding-y-default: 15px !default;
$padding-x-default: 15px !default;
$padding-y-lg: 25px !default;
$padding-x-lg: 25px !default;

$padding-sm: $padding-y-sm $padding-x-sm !default;
$padding-default: $padding-y-default $padding-x-default !default;
$padding-lg: $padding-y-lg $padding-x-lg !default;

// Alerts
$alert-margin-bottom: $margin-y-default !default;
$alert-padding: $padding-default !default;

// Badges
$badge-padding: 3px 6px 4px !default;
$badge-border-radius: $border-radius-sm !default;
$badge-font-size: .7em !default;

// Breadcrumbs
$breadcrumb-color: $sasha-grey !default;
$breadcrumb-color-active: $sasha-dark !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-font-size: .9em !default;

// Buttons
$btn-border-width: 2px !default;

$btn-font-size-sm: $font-size-sm !default;
$btn-font-size-default: 0.9em !default;
$btn-font-size-lg: 16px !default;

$btn-block-margin-y: 10px;

$btn-padding-y-sm: 4px !default;
$btn-padding-x-sm: 8px !default;

$btn-padding-y-default: 8px !default;
$btn-padding-x-default: 12px !default;

$btn-padding-y-lg: 16px !default;
$btn-padding-x-lg: 18px !default;

$btn-font-weight: $font-weight-default !default;
