// Variables
// A place to put all the variables together for a more maintainable code.

@import 'color'; // Separate the color file to make the code cleaner;

// Enable Option
$enable-btn-o: true !default; // Outline Buttons
$enable-btn-t: true !default; // Transparent Buttons
$enable-sasha-custom: true !default; // Sasha-themed Buttons
$enable-rounded: true !default;

// Body
$body-bg: $sasha-white !default;
$body-color: #545454 !default; // 545454
$body-color-muted: $sasha-dark !default;

// Link
$link-color: lighten($primary, 20%) !default;
$link-color-hover: #f00 !default; // Debugger
$link-decoration: none !default;
$link-decoration-hover: underline !default;

// Font
$font-family-alt: 'Roboto', sans-serif !default;
$font-family-default: 'Open Sans', sans-serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;

$font-size-sm: 12px !default;
$font-size-default: 16px !default;
$font-size-lg: 24px !default;

$font-size-h1: 3.5rem !default;
$font-size-h2: 3rem !default;
$font-size-h3: 2.5rem !default;
$font-size-h4: 2rem !default;
$font-size-h5: 1.5rem !default;
$font-size-h6: 1rem !default;

$font-size-lg-1: 6rem !default;
$font-size-lg-2: 5.5rem !default;
$font-size-lg-3: 4.5rem !default;
$font-size-lg-4: 4rem !default;

$font-weight-thin: 100 !default;
$font-weight-light: 300 !default;
$font-weight-default: 400 !default;
$font-weight-medium: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-black: 900 !default;

$font-default: $font-weight-default $font-size-default $font-family-default !default;

$font-weights: (
  thin: 100,
  light: 300,
  normal: 400,
  medium: 600,
  bold: 700,
  black: 900 // sass-lint:disable-line no-color-keywords
) !default;

$line-height-default: 1.5 !default;

// Border Radius
$border-radius-sm: 2px !default;
$border-radius-default: 6px !default;
$border-radius-lg: 15px !default;

$border-radius-pill: 500px !default;

// Margin and Padding
$spacer-sm: 2px !default;
$spacer-default: 15px !default;
$spacer-lg: 30px !default;

// Alert
$alert-margin-y: $spacer-default !default;
$alert-padding: $spacer-default !default;
$alert-link-font-weight: $font-weight-bold !default;

// Badge
$badge-border-radius: $border-radius-sm !default;
$badge-font-size: .8em !default;
$badge-font-weight: $font-weight-default !default;
$badge-margin-top: -0.3em !default;
$badge-padding: 0 8px 1px !default;

// Banner
$banner-bg: $sasha-greyer !default;
$banner-margin-bottom: $spacer-default !default;
$banner-padding-x: $spacer-default !default;
$banner-padding-y: $spacer-lg !default;


//Blockquote
$blockquote-background: $sasha-grey !default;
$blockquote-border-color: $sasha-greyer !default;
$blockquote-border-width: 3px !default;
$blockquote-font-size: 1rem !default;
$blockquote-footer-color: $body-color !default;
$blockquote-padding: $spacer-default !default;

// Breadcrumb
$breadcrumb-color: $sasha-dark !default;
$breadcrumb-color-active: $sasha-dark !default;
$breadcrumb-divider: '/' !default;
$breadcrumb-font-size: .9em !default;
$breadcrumb-font-weight-active: $font-weight-bold !default;

// Breakpoint & Grid
$sm: 0 !default; // 576
$md: 576px !default; // 768
$lg: 768px !default; // 992
$xl: 992px !default; // 1200

$grid-col-max: 12 !default;

$container-max-width: 1024px !default;

// TODO: Change btn-padding format ($btn-padding-default: x x x x;)
// Button
$btn-block-margin-y: $spacer-default !default;

$btn-border-width: 2px !default;

$btn-font-size-sm: $font-size-sm !default;
$btn-font-size-default: .9rem !default;
$btn-font-size-lg: 16px !default;

$btn-font-weight: $font-weight-default !default;

//$btn-line-height: 1.5rem;

$btn-padding-y-sm: 4px !default;
$btn-padding-x-sm: 8px !default;

$btn-padding-y-default: 7px !default;
$btn-padding-x-default: 16px !default;

$btn-padding-y-lg: 14px !default;
$btn-padding-x-lg: 24px !default;

// Code, Keyboard, & Pre
$code-color: #3363bd !default; // bd4147
$code-bg: lighten($code-color, 40%) !default;
$code-font-size: $font-size-default !default;
$code-padding-y: $spacer-sm !default;
$code-padding-x: $spacer-sm !default;
$kbd-bg: lighten($sasha-black, 20%) !default;
$kbd-color: $sasha-white !default;
$kbd-border-radius: 4px !default;
$kbd-nested-font-weight: $font-weight-bold !default;
$pre-color: $body-color !default;

// Close
$close-color: $sasha-black !default;
$close-font-size: $font-size-lg !default;
$close-font-weight: $font-weight-bold !default;

// Dropdown
$dropdown-caret-size: 4px !default;

// Image
$figure-img-border-bottom: $spacer-default / 2 !default;
$figure-caption-font-size: .9em !default;
$figure-caption-color: $sasha-darker !default;

// Input
$input-bg: $sasha-white !default;
$input-bg-disabled: $sasha-greyer !default;
$input-bg-focus: $input-bg !default;

$input-border-color: $sasha-dark !default;
$input-border-color-focus: lighten($primary, 5%) !default;

$input-border-width: 1px !default;

$input-color: $body-color !default;
$input-color-focus: $input-color !default;
$input-color-placeholder: $sasha-darker !default;

$input-font-size: $font-size-default !default;

$input-line-height: 1.25rem !default;

$input-padding-y: .5rem !default;
$input-padding-x: .75rem !default;

// Navigation
$nav-bg: $sasha-darkest !default;
$nav-bg-hover: rgba(0, 0, 0, .3) !default;

$nav-color: $sasha-dark !default;
$nav-color-hover: $sasha-white;

$nav-dropdown-bg: $sasha-white !default;
$nav-dropdown-bg-hover: $sasha-greyer !default;
$nav-dropdown-caret-size: $dropdown-caret-size !default;
$nav-dropdown-color: $body-color !default;
$nav-dropdown-line-height: 40px !default;
$nav-dropdown-max-width: 250px !default;
$nav-dropdown-min-width: 200px !default;
$nav-dropdown-ul-gutter: 5px !default;

$nav-font-size: 1rem !default;
$nav-font-weight: $font-weight-default !default;

$nav-hr-border-color: $sasha-greyer !default;
$nav-hr-border-color-sm: lighten($sasha-darkest, 10%) !default;

$nav-img-height: 30px !default;

$nav-line-height: 60px !default;

$nav-logo-color: $sasha-grey !default;
$nav-logo-font-size: 1.5rem !default;
$nav-logo-font-weight: $font-weight-default !default;
$nav-logo-line-height: $nav-line-height !default;

$nav-menu-max-height: 350px !default;

// Navigation White
$nav-white-bg: $sasha-white !default;
$nav-white-bg-hover: rgba(0, 0, 0, .05) !default;

$nav-white-hr-border-color-sm: $nav-hr-border-color !default;

$nav-white-color: lighten($body-color, 25%) !default;
$nav-white-color-hover: darken($nav-white-color, 25%) !default;

$nav-white-logo-color: $sasha-darker !default;

// Nav Icon
$nav-icon-hover-transition-duration: 0.15s !default; // 0.15s
$nav-icon-hover-transition-timing-function: ease-in-out !default;
$nav-icon-opacity: 0.8 !default;
$nav-icon-opacity-hover: 1 !default; // 0.8
$nav-icon-padding-x: 5px !default;
$nav-icon-padding-y: 4px !default;
$nav-icon-rod-border-radius: 4px !default;
$nav-icon-rod-color: $sasha-white !default;
$nav-icon-rod-height: 2px !default;
$nav-icon-rod-width: 26px !default;
$nav-icon-rod-spacing: 6px !default;

//Pagination
$pagination-bg: $sasha-greyer !default;
$pagination-bg-active: $primary !default;
$pagination-bg-disabled: $sasha-greyer !default;
$pagination-bg-hover: $primary !default;

$pagination-border-active: none !default;
$pagination-border-color: $sasha-dark !default;
$pagination-border-disabled: none !default;
$pagination-border-hover: none !default;
$pagination-border-width: 0 !default;

$pagination-color: $body-color !default;
$pagination-color-active: $sasha-white !default;
$pagination-color-disabled: $sasha-dark !default;
$pagination-color-hover: $sasha-white !default;

$pagination-font-size: 1em !default;
$pagination-font-size-sm: .9em !default;

$pagination-line-height: 1.25em !default;

$pagination-padding-y: 6px !default;
$pagination-padding-x: 14px !default;
$pagination-padding-y-sm: 3px !default;
$pagination-padding-x-sm: 10px !default;

// Progress
$progress-container-bg: $sasha-grey !default;
$progress-bar-bg: $primary !default;
$progress-font-size: 0.9rem !default;
$progress-height: 1.5rem !default;
$progress-margin-y: $spacer-default !default;

// Table and Data
$dt-font-weight: $font-weight-bold !default;
$table-bg: $sasha-white !default;
$table-border-width: 1px !default;
$table-border-color: $sasha-greyer;
$table-cell-padding: .75rem 1rem !default;
$table-cell-padding-sm: .3rem .75rem !default;
$table-hover-bg: $sasha-greyer !default;
$table-stripe-bg: $sasha-grey !default;

// Text
$mark-bg: #fcf6cf !default;
$mark-padding: $spacer-sm !default;

// Z-index
$nav-dropdown-ul-z-index: 2 !default;
$nav-dropdown-pin-z-index: 1 !default;
$nav-fixed-z-index: 3 !default;
$pagination-z-index: 2 !default;
